.landing {
   position: relative;
   background: url('./img/beer.jpg') no-repeat;
   background-size: cover;
   background-position: center;
   height: 100px;
   margin-top: 20px;
   margin-bottom: -50px;

}